 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hii.. I'm Working independently and as part of a team to design, develop, test and implement web based java applications -Ensure the quality of deliveries and ensure conformance to processes and practices. Working through the development and support phases of project delivery.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have 2 year of experience , working as a java Developer. If u want good java developer then hire me without hesitation . (｡◕‿◕｡)</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto: ravimurya04@gmail.com" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope" aria-hidden="true"></i> Mail Me
                    </a>
                    <a href="https://wa.me/+918484084928" class="btn btn-lg btn-outline">
                        <i class="fa fa-comment-o" aria-hidden="true"></i> Whatsapp Me
                    </a>
                </div>
            </div>
        </div>
    </section>
