<!-- Education Section -->
<section id="education">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Education</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="education-item">
            <h3>University of Mumbai</h3>
            <h4>Bachelor of Information Technology</h4>
            <p class="text-muted">Graduated in 2018</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="education-item">
            <h3>Laxman Devram Sonawane College</h3>
            <h4>Higher Secondary School Certificate</h4>
            <p class="text-muted">Qualify in 2013</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="education-item">
            <h3>R.K High School</h3>
            <h4>High School Certificate</h4>
            <p class="text-muted">Qualify in 2011</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
