<!-- Project Section -->
<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Projects</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="education-item">
          <a href="https://play.google.com/store/apps/details?id=com.mycitya2z&hl=en_IN&gl=US"><h3>MyCityA2Z</h3></a>
          <p>My City A2Z App is a one-stop destination for all your city-related needs. Whether you are looking for online grocery products or information on education, medical services, jobs, or buying and selling old and new items and much more.</p>
          <p class="text-muted">1.5 Year</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="education-item">
          <a href="https://play.google.com/store/apps/details?id=com.feemanager&hl=en_IN&gl=US"><h3>Fee Manager</h3></a>
          <p>The Fee Manager offers a smart, convenient and effortless way to manage the fees for Schools, Educational Institutions, Coaching Centers, sports academy, Gym and Yoga class etc.</p>
          <p class="text-muted">1 Year</p>
        </div>
      </div>
    </div>
  </div>
</section>

